In [538]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.ensemble import ExtraTreesClassifier

In [539]:
names = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

test_names = ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
classifier = ExtraTreesClassifier(random_state = 1)
df1 = pd.read_csv("../data/train.csv", names = names)
df2 = pd.read_csv("../data/test.csv", names = test_names)

# See the columns and shape
print("Train: ")
print(df1.columns)
print(df1.shape)
print("Test: ")
print(df2.columns)
print(df2.shape)

Train:
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
(892, 12)
Test:
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
(419, 11)

In [540]:
# We will clean the data

# Are all people unique?
print(len(np.unique(df1["Name"].values)) == total_train)

# Store the passenger Id of test

submit = df2["PassengerId"]

# We will remove the Name and Cabin, Embarked column
df1.drop(["Name", "PassengerId", "Ticket", "Cabin"], axis = 1, inplace = True)
df2.drop(["Name", "PassengerId", "Ticket", "Cabin"], axis = 1, inplace = True)

print(df1)

False
     Survived  Pclass     Sex  Age  SibSp  Parch     Fare  Embarked
0    Survived  Pclass     Sex  Age  SibSp  Parch     Fare  Embarked
1           0       3    male   22      1      0     7.25         S
2           1       1  female   38      1      0  71.2833         C
3           1       3  female   26      0      0    7.925         S
4           1       1  female   35      1      0     53.1         S
5           0       3    male   35      0      0     8.05         S
6           0       3    male  NaN      0      0   8.4583         Q
7           0       1    male   54      0      0  51.8625         S
8           0       3    male    2      3      1   21.075         S
9           1       3  female   27      0      2  11.1333         S
10          1       2  female   14      1      0  30.0708         C
11          1       3  female    4      1      1     16.7         S
12          1       1  female   58      0      0    26.55         S
13          0       3    male   20      0      0     8.05         S
14          0       3    male   39      1      5   31.275         S
15          0       3  female   14      0      0   7.8542         S
16          1       2  female   55      0      0       16         S
17          0       3    male    2      4      1   29.125         Q
18          1       2    male  NaN      0      0       13         S
19          0       3  female   31      1      0       18         S
20          1       3  female  NaN      0      0    7.225         C
21          0       2    male   35      0      0       26         S
22          1       2    male   34      0      0       13         S
23          1       3  female   15      0      0   8.0292         Q
24          1       1    male   28      0      0     35.5         S
25          0       3  female    8      3      1   21.075         S
26          1       3  female   38      1      5  31.3875         S
27          0       3    male  NaN      0      0    7.225         C
28          0       1    male   19      3      2      263         S
29          1       3  female  NaN      0      0   7.8792         Q
..        ...     ...     ...  ...    ...    ...      ...       ...
862         0       2    male   21      1      0     11.5         S
863         1       1  female   48      0      0  25.9292         S
864         0       3  female  NaN      8      2    69.55         S
865         0       2    male   24      0      0       13         S
866         1       2  female   42      0      0       13         S
867         1       2  female   27      1      0  13.8583         C
868         0       1    male   31      0      0  50.4958         S
869         0       3    male  NaN      0      0      9.5         S
870         1       3    male    4      1      1  11.1333         S
871         0       3    male   26      0      0   7.8958         S
872         1       1  female   47      1      1  52.5542         S
873         0       1    male   33      0      0        5         S
874         0       3    male   47      0      0        9         S
875         1       2  female   28      1      0       24         C
876         1       3  female   15      0      0    7.225         C
877         0       3    male   20      0      0   9.8458         S
878         0       3    male   19      0      0   7.8958         S
879         0       3    male  NaN      0      0   7.8958         S
880         1       1  female   56      0      1  83.1583         C
881         1       2  female   25      0      1       26         S
882         0       3    male   33      0      0   7.8958         S
883         0       3  female   22      0      0  10.5167         S
884         0       2    male   28      0      0     10.5         S
885         0       3    male   25      0      0     7.05         S
886         0       3  female   39      0      5   29.125         Q
887         0       2    male   27      0      0       13         S
888         1       1  female   19      0      0       30         S
889         0       3  female  NaN      1      2    23.45         S
890         1       1    male   26      0      0       30         C
891         0       3    male   32      0      0     7.75         Q

[892 rows x 8 columns]

In [541]:
# Update Sex as 0 - Male, 1 - Female
df1.loc[df1["Sex"] == "male", "Sex"] = 0
df1.loc[df1["Sex"] == "female", "Sex"] = 1

df2.loc[df2["Sex"] == "male", "Sex"] = 0
df2.loc[df2["Sex"] == "female", "Sex"] = 1

# Update Embarked S = 0, Q = 1, C = 2
df1.loc[df1["Embarked"] == "S", "Embarked"] = 0
df1.loc[df1["Embarked"] == "Q", "Embarked"] = 1
df1.loc[df1["Embarked"] == "C", "Embarked"] = 2

df2.loc[df2["Embarked"] == "S", "Embarked"] = 0
df2.loc[df2["Embarked"] == "Q", "Embarked"] = 1
df2.loc[df2["Embarked"] == "C", "Embarked"] = 2

df1.fillna(0, inplace = True)
df2.fillna(0, inplace = True)
print(df1)

     Survived  Pclass  Sex  Age  SibSp  Parch     Fare  Embarked
0    Survived  Pclass  Sex  Age  SibSp  Parch     Fare  Embarked
1           0       3    0   22      1      0     7.25         0
2           1       1    1   38      1      0  71.2833         2
3           1       3    1   26      0      0    7.925         0
4           1       1    1   35      1      0     53.1         0
5           0       3    0   35      0      0     8.05         0
6           0       3    0    0      0      0   8.4583         1
7           0       1    0   54      0      0  51.8625         0
8           0       3    0    2      3      1   21.075         0
9           1       3    1   27      0      2  11.1333         0
10          1       2    1   14      1      0  30.0708         2
11          1       3    1    4      1      1     16.7         0
12          1       1    1   58      0      0    26.55         0
13          0       3    0   20      0      0     8.05         0
14          0       3    0   39      1      5   31.275         0
15          0       3    1   14      0      0   7.8542         0
16          1       2    1   55      0      0       16         0
17          0       3    0    2      4      1   29.125         1
18          1       2    0    0      0      0       13         0
19          0       3    1   31      1      0       18         0
20          1       3    1    0      0      0    7.225         2
21          0       2    0   35      0      0       26         0
22          1       2    0   34      0      0       13         0
23          1       3    1   15      0      0   8.0292         1
24          1       1    0   28      0      0     35.5         0
25          0       3    1    8      3      1   21.075         0
26          1       3    1   38      1      5  31.3875         0
27          0       3    0    0      0      0    7.225         2
28          0       1    0   19      3      2      263         0
29          1       3    1    0      0      0   7.8792         1
..        ...     ...  ...  ...    ...    ...      ...       ...
862         0       2    0   21      1      0     11.5         0
863         1       1    1   48      0      0  25.9292         0
864         0       3    1    0      8      2    69.55         0
865         0       2    0   24      0      0       13         0
866         1       2    1   42      0      0       13         0
867         1       2    1   27      1      0  13.8583         2
868         0       1    0   31      0      0  50.4958         0
869         0       3    0    0      0      0      9.5         0
870         1       3    0    4      1      1  11.1333         0
871         0       3    0   26      0      0   7.8958         0
872         1       1    1   47      1      1  52.5542         0
873         0       1    0   33      0      0        5         0
874         0       3    0   47      0      0        9         0
875         1       2    1   28      1      0       24         2
876         1       3    1   15      0      0    7.225         2
877         0       3    0   20      0      0   9.8458         0
878         0       3    0   19      0      0   7.8958         0
879         0       3    0    0      0      0   7.8958         0
880         1       1    1   56      0      1  83.1583         2
881         1       2    1   25      0      1       26         0
882         0       3    0   33      0      0   7.8958         0
883         0       3    1   22      0      0  10.5167         0
884         0       2    0   28      0      0     10.5         0
885         0       3    0   25      0      0     7.05         0
886         0       3    1   39      0      5   29.125         1
887         0       2    0   27      0      0       13         0
888         1       1    1   19      0      0       30         0
889         0       3    1    0      1      2    23.45         0
890         1       1    0   26      0      0       30         2
891         0       3    0   32      0      0     7.75         1

[892 rows x 8 columns]

In [542]:
# See whether any data is missing
print(df1.describe())

       Survived Pclass  Sex  Age SibSp Parch  Fare  Embarked
count       892    892  892  892   892   892   892       892
unique        3      4    3   90     8     8   249         4
top           0      3    0    0     0     0  8.05         0
freq        549    491  577  177   608   678    43       646

In [543]:
# Count of train and test data
print("Train Count: {}".format(df1.shape))

Train Count: (892, 8)

In [544]:
# Get test and train data
# Split out the ID and Y = Class, X = Other features
train_data = df1.values
test_data = df2.values
x_train = train_data[1:, 1:]
y_train = train_data[1:, 0]
x_test = test_data[1:,0:]

In [545]:
classifier.fit(x_train, y_train)

/home/local/ZOHOCORP/chandra-pt2489/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=None, max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=1, verbose=0, warm_start=False)

In [546]:
y_test = classifier.predict(x_test)
print(y_test)
print(len(y_test) == len(x_test))

['0' '0' '0' '1' '1' '0' '0' '0' '1' '0' '0' '1' '1' '0' '1' '1' '0' '1'
 '0' '0' '1' '1' '1' '1' '1' '0' '1' '1' '1' '0' '0' '0' '1' '0' '1' '1'
 '0' '0' '0' '1' '1' '0' '0' '1' '1' '0' '0' '0' '1' '0' '0' '0' '1' '1'
 '0' '0' '0' '0' '0' '1' '0' '0' '0' '1' '0' '1' '1' '0' '0' '1' '1' '0'
 '0' '0' '1' '0' '0' '1' '0' '1' '1' '0' '1' '0' '0' '0' '0' '0' '1' '1'
 '1' '0' '1' '0' '1' '0' '1' '0' '0' '0' '1' '0' '0' '0' '1' '0' '0' '0'
 '0' '0' '0' '1' '1' '0' '1' '0' '0' '1' '0' '1' '1' '0' '1' '0' '0' '1'
 '0' '1' '0' '0' '1' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0' '1' '0' '0'
 '1' '0' '0' '0' '0' '0' '1' '0' '0' '1' '0' '0' '1' '0' '1' '1' '1' '1'
 '1' '0' '0' '0' '0' '0' '1' '0' '0' '0' '0' '0' '0' '1' '1' '1' '1' '1'
 '0' '0' '1' '0' '1' '0' '1' '0' '0' '0' '0' '0' '1' '0' '1' '0' '1' '0'
 '0' '0' '0' '0' '0' '1' '0' '0' '0' '0' '1' '0' '0' '0' '0' '0' '1' '0'
 '1' '0' '1' '0' '1' '0' '1' '1' '0' '0' '0' '1' '0' '0' '0' '1' '0' '0'
 '1' '0' '1' '1' '1' '1' '1' '1' '0' '0' '0' '0' '1' '0' '1' '0' '1' '0'
 '0' '0' '0' '0' '0' '0' '1' '0' '0' '0' '1' '1' '0' '0' '0' '0' '0' '0'
 '0' '0' '1' '1' '0' '1' '0' '0' '0' '0' '0' '1' '1' '0' '1' '0' '0' '0'
 '0' '0' '0' '0' '0' '0' '0' '0' '1' '0' '0' '0' '1' '0' '0' '0' '1' '1'
 '1' '1' '0' '0' '0' '1' '0' '0' '1' '1' '0' '0' '0' '0' '0' '0' '0' '1'
 '1' '0' '1' '0' '0' '0' '1' '1' '0' '0' '0' '0' '1' '0' '0' '0' '0' '1'
 '0' '1' '1' '0' '0' '1' '0' '1' '1' '0' '0' '0' '0' '1' '1' '0' '0' '0'
 '0' '1' '1' '1' '1' '0' '0' '0' '1' '0' '0' '1' '0' '0' '1' '1' '0' '0'
 '0' '0' '0' '1' '0' '1' '1' '1' '0' '0' '0' '0' '0' '1' '1' '0' '0' '1'
 '0' '1' '0' '0' '1' '0' '1' '0' '1' '0' '0' '0' '1' '1' '1' '1' '0' '0'
 '1' '0' '0' '1']
True

In [547]:
print(submit.shape)
output = []
for i in range(0, len(y_test)):
    curr_list = []
    curr_list.append(int(submit[i + 1]))
    curr_list.append(y_test[i])
    output.append(curr_list)

(419,)

In [548]:
df = pd.DataFrame(output, columns=["PassengerId", "Survived"])
df.to_csv("../output/output.csv", index = False)