In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.ensemble import RandomForestClassifier

In [16]:
names = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

test_names = ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
classifier = RandomForestClassifier()
df1 = pd.read_csv("../data/train.csv", names = names)
df2 = pd.read_csv("../data/test.csv", names = test_names)
total_train = df2.shape

# See the columns and shape
print("Train: ")
print(df1.columns)
print(df1.shape)
print("Test: ")
print(df2.columns)
print(df2.shape)

SyntaxError: invalid syntax (<ipython-input-16-e919afaf6313>, line 9)

In [14]:
# We will clean the data

# Are all people unique?
print(len(np.unique(df1["Name"].values)) == total_train)

# Store the passenger Id of test

submit = df2["PassengerId"]

# We will remove the Name and Cabin, Embarked column
df1.drop(["Name", "PassengerId", "Ticket", "Cabin"], axis = 1, inplace = True)
df2.drop(["Name", "PassengerId", "Ticket", "Cabin"], axis = 1, inplace = True)

print(df1)

NameError: name 'total_train' is not defined

In [4]:
# Update Sex as 0 - Male, 1 - Female
df1.loc[df1["Sex"] == "male", "Sex"] = 0
df1.loc[df1["Sex"] == "female", "Sex"] = 1

df2.loc[df2["Sex"] == "male", "Sex"] = 0
df2.loc[df2["Sex"] == "female", "Sex"] = 1

# Update Embarked S = 0, Q = 1, C = 2
df1.loc[df1["Embarked"] == "S", "Embarked"] = 0
df1.loc[df1["Embarked"] == "Q", "Embarked"] = 1
df1.loc[df1["Embarked"] == "C", "Embarked"] = 2

df2.loc[df2["Embarked"] == "S", "Embarked"] = 0
df2.loc[df2["Embarked"] == "Q", "Embarked"] = 1
df2.loc[df2["Embarked"] == "C", "Embarked"] = 2

df1.fillna(0, inplace = True)
df2.fillna(0, inplace = True)
print(df1)

     PassengerId  Survived  Pclass  \
0    PassengerId  Survived  Pclass
1              1         0       3
2              2         1       1
3              3         1       3
4              4         1       1
5              5         0       3
6              6         0       3
7              7         0       1
8              8         0       3
9              9         1       3
10            10         1       2
11            11         1       3
12            12         1       1
13            13         0       3
14            14         0       3
15            15         0       3
16            16         1       2
17            17         0       3
18            18         1       2
19            19         0       3
20            20         1       3
21            21         0       2
22            22         1       2
23            23         1       3
24            24         1       1
25            25         0       3
26            26         1       3
27            27         0       3
28            28         0       1
29            29         1       3
..           ...       ...     ...
862          862         0       2
863          863         1       1
864          864         0       3
865          865         0       2
866          866         1       2
867          867         1       2
868          868         0       1
869          869         0       3
870          870         1       3
871          871         0       3
872          872         1       1
873          873         0       1
874          874         0       3
875          875         1       2
876          876         1       3
877          877         0       3
878          878         0       3
879          879         0       3
880          880         1       1
881          881         1       2
882          882         0       3
883          883         0       3
884          884         0       2
885          885         0       3
886          886         0       3
887          887         0       2
888          888         1       1
889          889         0       3
890          890         1       1
891          891         0       3

                                                  Name  Sex  Age  SibSp  \
0                                                 Name  Sex  Age  SibSp
1                              Braund, Mr. Owen Harris    0   22      1
2    Cumings, Mrs. John Bradley (Florence Briggs Th...    1   38      1
3                               Heikkinen, Miss. Laina    1   26      0
4         Futrelle, Mrs. Jacques Heath (Lily May Peel)    1   35      1
5                             Allen, Mr. William Henry    0   35      0
6                                     Moran, Mr. James    0    0      0
7                              McCarthy, Mr. Timothy J    0   54      0
8                       Palsson, Master. Gosta Leonard    0    2      3
9    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)    1   27      0
10                 Nasser, Mrs. Nicholas (Adele Achem)    1   14      1
11                     Sandstrom, Miss. Marguerite Rut    1    4      1
12                            Bonnell, Miss. Elizabeth    1   58      0
13                      Saundercock, Mr. William Henry    0   20      0
14                         Andersson, Mr. Anders Johan    0   39      1
15                Vestrom, Miss. Hulda Amanda Adolfina    1   14      0
16                    Hewlett, Mrs. (Mary D Kingcome)     1   55      0
17                                Rice, Master. Eugene    0    2      4
18                        Williams, Mr. Charles Eugene    0    0      0
19   Vander Planke, Mrs. Julius (Emelia Maria Vande...    1   31      1
20                             Masselmani, Mrs. Fatima    1    0      0
21                                Fynney, Mr. Joseph J    0   35      0
22                               Beesley, Mr. Lawrence    0   34      0
23                         McGowan, Miss. Anna "Annie"    1   15      0
24                        Sloper, Mr. William Thompson    0   28      0
25                       Palsson, Miss. Torborg Danira    1    8      3
26   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...    1   38      1
27                             Emir, Mr. Farred Chehab    0    0      0
28                      Fortune, Mr. Charles Alexander    0   19      3
29                       O'Dwyer, Miss. Ellen "Nellie"    1    0      0
..                                                 ...  ...  ...    ...
862                        Giles, Mr. Frederick Edward    0   21      1
863  Swift, Mrs. Frederick Joel (Margaret Welles Ba...    1   48      0
864                  Sage, Miss. Dorothy Edith "Dolly"    1    0      8
865                             Gill, Mr. John William    0   24      0
866                           Bystrom, Mrs. (Karolina)    1   42      0
867                       Duran y More, Miss. Asuncion    1   27      1
868               Roebling, Mr. Washington Augustus II    0   31      0
869                        van Melkebeke, Mr. Philemon    0    0      0
870                    Johnson, Master. Harold Theodor    0    4      1
871                                  Balkic, Mr. Cerin    0   26      0
872   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)    1   47      1
873                           Carlsson, Mr. Frans Olof    0   33      0
874                        Vander Cruyssen, Mr. Victor    0   47      0
875              Abelson, Mrs. Samuel (Hannah Wizosky)    1   28      1
876                   Najib, Miss. Adele Kiamie "Jane"    1   15      0
877                      Gustafsson, Mr. Alfred Ossian    0   20      0
878                               Petroff, Mr. Nedelio    0   19      0
879                                 Laleff, Mr. Kristo    0    0      0
880      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)    1   56      0
881       Shelley, Mrs. William (Imanita Parrish Hall)    1   25      0
882                                 Markun, Mr. Johann    0   33      0
883                       Dahlberg, Miss. Gerda Ulrika    1   22      0
884                      Banfield, Mr. Frederick James    0   28      0
885                             Sutehall, Mr. Henry Jr    0   25      0
886               Rice, Mrs. William (Margaret Norton)    1   39      0
887                              Montvila, Rev. Juozas    0   27      0
888                       Graham, Miss. Margaret Edith    1   19      0
889           Johnston, Miss. Catherine Helen "Carrie"    1    0      1
890                              Behr, Mr. Karl Howell    0   26      0
891                                Dooley, Mr. Patrick    0   32      0

     Parch            Ticket     Fare        Cabin  Embarked
0    Parch            Ticket     Fare        Cabin  Embarked
1        0         A/5 21171     7.25            0         0
2        0          PC 17599  71.2833          C85         2
3        0  STON/O2. 3101282    7.925            0         0
4        0            113803     53.1         C123         0
5        0            373450     8.05            0         0
6        0            330877   8.4583            0         1
7        0             17463  51.8625          E46         0
8        1            349909   21.075            0         0
9        2            347742  11.1333            0         0
10       0            237736  30.0708            0         2
11       1           PP 9549     16.7           G6         0
12       0            113783    26.55         C103         0
13       0         A/5. 2151     8.05            0         0
14       5            347082   31.275            0         0
15       0            350406   7.8542            0         0
16       0            248706       16            0         0
17       1            382652   29.125            0         1
18       0            244373       13            0         0
19       0            345763       18            0         0
20       0              2649    7.225            0         2
21       0            239865       26            0         0
22       0            248698       13          D56         0
23       0            330923   8.0292            0         1
24       0            113788     35.5           A6         0
25       1            349909   21.075            0         0
26       5            347077  31.3875            0         0
27       0              2631    7.225            0         2
28       2             19950      263  C23 C25 C27         0
29       0            330959   7.8792            0         1
..     ...               ...      ...          ...       ...
862      0             28134     11.5            0         0
863      0             17466  25.9292          D17         0
864      2          CA. 2343    69.55            0         0
865      0            233866       13            0         0
866      0            236852       13            0         0
867      0     SC/PARIS 2149  13.8583            0         2
868      0          PC 17590  50.4958          A24         0
869      0            345777      9.5            0         0
870      1            347742  11.1333            0         0
871      0            349248   7.8958            0         0
872      1             11751  52.5542          D35         0
873      0               695        5  B51 B53 B55         0
874      0            345765        9            0         0
875      0         P/PP 3381       24            0         2
876      0              2667    7.225            0         2
877      0              7534   9.8458            0         0
878      0            349212   7.8958            0         0
879      0            349217   7.8958            0         0
880      1             11767  83.1583          C50         2
881      1            230433       26            0         0
882      0            349257   7.8958            0         0
883      0              7552  10.5167            0         0
884      0  C.A./SOTON 34068     10.5            0         0
885      0   SOTON/OQ 392076     7.05            0         0
886      5            382652   29.125            0         1
887      0            211536       13            0         0
888      0            112053       30          B42         0
889      2        W./C. 6607    23.45            0         0
890      0            111369       30         C148         2
891      0            370376     7.75            0         1

[892 rows x 12 columns]

In [5]:
# See whether any data is missing
print(df1.describe())

       PassengerId Survived Pclass                       Name  Sex  Age SibSp  \
count          892      892    892                        892  892  892   892
unique         892        3      4                        892    3   90     8
top            112        0      3  Shutes, Miss. Elizabeth W    0    0     0
freq             1      549    491                          1  577  177   608

       Parch    Ticket  Fare  Cabin  Embarked
count    892       892   892    892       892
unique     8       682   249    149         4
top        0  CA. 2343  8.05      0         0
freq     678         7    43    687       646

In [6]:
# Count of train and test data
print("Train Count: {}".format(df1.shape))

Train Count: (892, 12)

In [7]:
# Get test and train data
# Split out the ID and Y = Class, X = Other features
train_data = df1.values
test_data = df2.values
x_train = train_data[1:, 1:]
y_train = train_data[1:, 0]
x_test = test_data[1:,0:]

In [8]:
classifier.fit(x_train, y_train)

/home/local/ZOHOCORP/chandra-pt2489/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ValueError: could not convert string to float: 'A/5 21171'

In [546]:
y_test = classifier.predict(x_test)
print(y_test)
print(len(y_test) == len(x_test))

['0' '0' '0' '1' '1' '0' '0' '0' '1' '0' '0' '1' '1' '0' '1' '1' '0' '1'
 '0' '0' '1' '1' '1' '1' '1' '0' '1' '1' '1' '0' '0' '0' '1' '0' '1' '1'
 '0' '0' '0' '1' '1' '0' '0' '1' '1' '0' '0' '0' '1' '0' '0' '0' '1' '1'
 '0' '0' '0' '0' '0' '1' '0' '0' '0' '1' '0' '1' '1' '0' '0' '1' '1' '0'
 '0' '0' '1' '0' '0' '1' '0' '1' '1' '0' '1' '0' '0' '0' '0' '0' '1' '1'
 '1' '0' '1' '0' '1' '0' '1' '0' '0' '0' '1' '0' '0' '0' '1' '0' '0' '0'
 '0' '0' '0' '1' '1' '0' '1' '0' '0' '1' '0' '1' '1' '0' '1' '0' '0' '1'
 '0' '1' '0' '0' '1' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0' '1' '0' '0'
 '1' '0' '0' '0' '0' '0' '1' '0' '0' '1' '0' '0' '1' '0' '1' '1' '1' '1'
 '1' '0' '0' '0' '0' '0' '1' '0' '0' '0' '0' '0' '0' '1' '1' '1' '1' '1'
 '0' '0' '1' '0' '1' '0' '1' '0' '0' '0' '0' '0' '1' '0' '1' '0' '1' '0'
 '0' '0' '0' '0' '0' '1' '0' '0' '0' '0' '1' '0' '0' '0' '0' '0' '1' '0'
 '1' '0' '1' '0' '1' '0' '1' '1' '0' '0' '0' '1' '0' '0' '0' '1' '0' '0'
 '1' '0' '1' '1' '1' '1' '1' '1' '0' '0' '0' '0' '1' '0' '1' '0' '1' '0'
 '0' '0' '0' '0' '0' '0' '1' '0' '0' '0' '1' '1' '0' '0' '0' '0' '0' '0'
 '0' '0' '1' '1' '0' '1' '0' '0' '0' '0' '0' '1' '1' '0' '1' '0' '0' '0'
 '0' '0' '0' '0' '0' '0' '0' '0' '1' '0' '0' '0' '1' '0' '0' '0' '1' '1'
 '1' '1' '0' '0' '0' '1' '0' '0' '1' '1' '0' '0' '0' '0' '0' '0' '0' '1'
 '1' '0' '1' '0' '0' '0' '1' '1' '0' '0' '0' '0' '1' '0' '0' '0' '0' '1'
 '0' '1' '1' '0' '0' '1' '0' '1' '1' '0' '0' '0' '0' '1' '1' '0' '0' '0'
 '0' '1' '1' '1' '1' '0' '0' '0' '1' '0' '0' '1' '0' '0' '1' '1' '0' '0'
 '0' '0' '0' '1' '0' '1' '1' '1' '0' '0' '0' '0' '0' '1' '1' '0' '0' '1'
 '0' '1' '0' '0' '1' '0' '1' '0' '1' '0' '0' '0' '1' '1' '1' '1' '0' '0'
 '1' '0' '0' '1']
True

In [547]:
print(submit.shape)
output = []
for i in range(0, len(y_test)):
    curr_list = []
    curr_list.append(int(submit[i + 1]))
    curr_list.append(y_test[i])
    output.append(curr_list)

(419,)

In [548]:
df = pd.DataFrame(output, columns=["PassengerId", "Survived"])
df.to_csv("../output/output.csv", index = False)